global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9092'] # This assumes JMX exporter if implemented, but we'll use it as a placeholder

  - job_name: 'spark'
    static_configs:
      - targets: ['spark-master:8080']
