# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/

# Docker Volumes & Secrets
ecommerce_docker/jenkins_home/
ecommerce_docker/sales_data/
ecommerce_docker/postgres-data/

# Checkpoints & Logs
.ipynb_checkpoints/
logs/
*.log

# Generated Data
gold_sales_dashboard.csv
